<h2>City: <%= @city.name %></h2>
<h3>Train: <%= @city.train.name %></h3>

<button class="btn btn-secondary"><a href="/cities/<%= @city.id %>/edit">Edit City</a></button>

<a href="/cities">Return to Cities</a>