<h2>Add a new train</h2>
<form action="/trains" method="post">
  <div class="form-group">
    <label for="train_name">Train name</label>
    <input type="text" id="t_name" name="train_name" class="form-control">
  </div>
  <button type="submit" class="btn">Submit</button>
</form>